body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.jumbotron h1 {
    font-size: 60px;
}

.jumbotron h2 {
    font-weight: normal;
  }

.req{
    color: lightcoral;
    font-size: 15px;
}